body {
    font-family: Arial, sans-serif;
    background-color: #c4c4c4;
}

header {
    background-color: #1c1b8c;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}

h2 {
    color: #0303fa;
}

img {
    width: 500px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

form {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}
