body {
    background-color: #f5f5f5;
}

h3 {
    color: #0d6efd;
}

footer {
    margin-top: 50px;
}

.img-uniforme {
    width: 100%;
    max-width: 100px;  
    height: 200px;     
    object-fit: cover; 
}

