body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    color: #333;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    border: 1px solid #d2eef9;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
